
    <!-- TOP NAV WITH LOGO -->

<header>
    <nav>
        <div class="line">
            <div class="s-12 l-2">
                <img class="s-5 l-12 center" src="img/logo.png">
            </div>
            <div class="top-nav s-12 l-10 right">
                <p class="nav-text">Custom menu text</p>
                <ul class="right">
                    <li><a href="#/">Home</a></li>
                    <li><a href="#/contact">Contact</a></li>
                    <li><a href="#/login">login</a></li>
                    <li><a href="#/signup">Signup</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
